<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- RUTAS CORREGIDAS usando mivenv -->
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\mivenv\Scripts\python.exe|C:\inetpub\wwwroot\mivenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <!-- Esto soluciona el error 403.14 -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <appSettings>
    <!-- Ruta raíz de tu proyecto -->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot" />
    <!-- 'run.py' y el objeto 'app' dentro de él -->
    <add key="WSGI_HANDLER" value="run.app" />
  </appSettings>
</configuration>
